<header id="header">
		<a href="/"><span> <img class="image featured" src="/images/blue-logos/LCS_FAST_RGB_transparent_blue_brand.png" alt="London Computational Solutions" style="max-width:9.5%"/> </span>  </a> 
	<nav id="nav">
	<ul>
		<li><a href="/">Home</a></li>
    <li class="submenu"><a href="#">Aerodynamics</a>
        <ul>
        <li><a href="/aero_main">Aerodynamics Mainpage </a></li>
        <li><a href="/optimisation">Shape Optimisation </a></li>
        <li><a href="/rp1upgrade">A tonne of Rp1 downforce </a></li>
        <li><a href="/sc16">Read about our SC16 trip </a></li>
        <li><a href="/fifth_order">5th order car simulation</a></li>
        <li><a href="/high_order">High order CFD</a></li>
        <li><a href="/elemental">The aerodynamics of the RP1</a></li>
<!--        <li><a href="/adaptive">Efficient adaptive mesh</a></li> -->
        <li><a href="/glider">Glider cockpit bleed</a></li>
<!--        </ul>
        <li class="submenu"><a href="#">About us</a>
        <ul> -->
        <li><a href="/the_team">About us</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/twitter">Twitter feed</a></li>
        </li>
        </ul>
        <li class="submenu"><a href="#">GERMAN & ENGLISH</a>
        <ul>
        <li><a href="/philologist">Sarah Philologist</a></li>
        </ul>
        </li>
 	<li><a href="mailto:sarahphilologist@gmail.com?Subject=[philology-query]%20your%20subject" class="button bluish" target="_top">Email Sarah</a></li>
	</ul>
	</nav>
</header>
