<header id="header">
		<a href="/"><span> <img class="image featured" src="/images/blue-logos/LCS_FAST_RGB_transparent_blue_brand.png" alt="London Computational Solutions" style="max-width:9.5%"/> </span>  </a> 
	<nav id="nav">
	<ul>
		<li><a href="/">Home</a></li>
        <li class="submenu"><a href="#">all things philological</a>
        <ul>
        <li><a href="/philologist">Sarah Philologist</a></li>
        <li><a href="/contactsarah">Contact sarah</a></li>
        </ul>
        </li>
 	<li><a href="mailto:sarahphilologist@gmail.com?Subject=[philology-query]%20your%20subject" class="button bluish" target="_top">Email Sarah</a></li>
	</ul>
	</nav>
</header>
